@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-marquee {
  color: orange;
  white-space: nowrap;
  font-weight: bold;
  font-size: larger;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
